:root { /* Variable colours*/
--Accent: rgb(255, 11, 11); /*Accent colour - Shadows on boxes, used for header gradient*/
--Base: rgb(255, 255, 255); /*Used as a readable background for text*/
--text: rgb(0, 0, 0); /*Text colour*/
--lingrad: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /*Header linear gradient*/
}

/*Universal features, text colour, rounded corners and font for whole document*/
*{
    color: var(--text);
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Please note, Styled Mobile first*/
/*Hover effect text & shaddow round boxes in accent colour*/
li:hover, article:hover{
    box-shadow: 0 0 10px var(--Accent);
    color: var(--Accent);
}

/*Background gradient*/
body{
    background-image: linear-gradient(to right, rgba(63, 63, 247, 0.41),rgb(63, 63, 247, 1));
}

/*Header styling*/
header h1{
    background-image: var(--lingrad);
    font-size: 35px;
}
/*Nav bar styling*/
li{
    display: block; /*to take up entire width on mobile*/
    background-color: var(--Base);
    font-size: 25px;
    padding:5px;
    font-weight: bolder;
}

/* Hero image, Profile picture*/
#Hero_banner{
    display: flex;
    flex-direction: column;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/Heroimage.jpg);
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

/*Job title & Section headings*/
h2{ 
    background-color: var(--Base);
    padding: 1vh;
}

/*Profile picture*/
#Hero_banner img{
    height: 40vh;
    border-radius: 50%; /*Turns image to circle*/
    margin: 5px;
}

/*About me section*/
#About_me {
    display: block; /*Styling for About me paragraph*/

}

/*Div styling to position About me section only*/
#About_me > div {
    font-size: 150%;
    padding-left: 1%;
    padding-right: 0.9%;
    padding-top: 10px;
}

/*Seperate div specifically for background on text*/

#About_me > div > div {
    background-color: antiquewhite;
    padding:5px;
}


#About_me p{
    text-align:unset; /*Removes default center align*/
}

p a::after{ /*Adds link Emoji after links in about me*/
    content:"🔗";
}


/*Projects*/
#Work a{ /*Image for each project*/
    display:flex;
    height:60vh;
    flex-basis: 100%; /*Default 100% width for project to take up width of site*/
    margin:1vw;
    justify-content: center;
    align-items: end;
}
/*Takes up maximum size in container without overflow*/
article{
    width:100%;
    height:100%;
    display: flex;
}

/*fills container with image and doesnt distort*/
article img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.card{ /*text styling for projects*/
    position: absolute;
    background-color: var(--Base);
    line-height: 0.5;
    padding: 0.5%;
    margin: 1%;
    font-size: 125%;
    color: inherit;
}
/*Inherit colour to glow red when moused over*/
.card h3{
    color: inherit;
}
/*subheadding text reduced size in project cards*/
.card p{
    font-size: 75%;
    color: inherit;
}

/*Media Query for Tablets*/
@media screen and (Min-width:768px) {
    /*Changes to Banner styling*/
    #Hero_banner{
        flex-direction: row ; /*Puts Picture and Job title next to eachother in Hero Banner*/
        justify-content: space-between; /*Puts Job title and picture at opposite sides of banner*/
        font-size: 150%; /*increased text size for readability*/
    }
    /*Changes to Project styling*/
    #Work a{
        align-items: flex-start; /*Moves cards to top of images*/
        font-size: 110%; /*text size for reability*/
    }
    /*Nav bar top changed to be in a row*/
    header ul{
        display: flex;
        flex-direction: row;
        justify-content:center;
    }
}

/*Desktop changes*/
@media screen and (Min-width:992px) {
    /*Header changes to allow Name to be beside Nav items*/
    header{
        display:flex; 
        justify-content: space-between; /*Position nav items and name at opposite sides*/
        background-image: var(--lingrad);       
    }
    header h1{
        background-image: none;
    }
    /*positions job title bottom left with same width as subheadings below*/
    #Hero_banner h2{
        flex: 0 0 20%;
        align-self: flex-end;
    }
    /*Makes contact links run horizontally*/
    ul{
        display: flex;
        justify-content: center;
    } 
    /*Put title on the left*/
    #About_me{
        display: flex;
        justify-content: space-between;
    }
    /*Matches title size to Job title*/
    #About_me h2{
        flex: 0 0 20%;
        height: fit-content;
    }
    /*sets flex properties for divider with all project cards within*/
   #Work div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /*Propeties for each individual project card*/
    #Work a{
        align-items: flex-start;
        justify-content: space-between;
        font-size: 100%;
        flex-shrink: 0.5;
        flex-basis: 47%
    }
    /*Makes first item twice the width on desktop*/
    #Work a:nth-of-type(1){
        flex-basis: 98%
    }
    
    /*Puts Work title on left side*/
    #Work{
        display: flex;
    }
    
    /*Matches work title size to job title*/
    #Work h2{
        flex: 0 0 20%;
        height:fit-content;
    }

    /*adds top border to contact links container*/
    #Contact_me ul{
        border-top: solid black 1px;
        border-radius: 0;
    }
    /*adds border between titles and content in work and about me*/
    .RightBorder{
        border-left: solid black 1px;
        border-radius: 0;
    }
}
